{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
     <style>
      form{
        background-image:url('{% static 'images/login1.jpg'%}');
        width: 800px;
        padding: 350px;
        background-size:cover;
      }
    </style>
</head>
<body>

<form action="login" method="POST",align="center">
    {% csrf_token %}
      <h2>Login</h2>
     <input type="text" name="username" placeholder="enter username"><br>
    <br>
     <input type="password" name="password1" placeholder="password"><br>
    <br>
     <input type="submit">
</form>
</body>
</html>