{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration-form</title>
    <style>
      form{
        background-image:url('{% static 'images/reg.jpg'%}');
        width: 800px;
        padding: 350px;
        background-size:cover;
      }
    </style>

</head>
<body>

<form action="register" method="post" align="center">
    {% csrf_token %}
     <h2>Registration-Form</h2>
    <input type="text" name="username" placeholder="enter your username"><br>
    <br>
     <input type="text" name="first_name" placeholder="enter your first_name"><br>
    <br>
     <input type="text" name="last_name" placeholder="enter your last_name"><br>
    <br>
     <input type="email" name="email" placeholder="enter your email"><br>
    <br>
     <input type="password" name="password" placeholder="enter your password"><br>
    <br>
    <input type="password" name="password1" placeholder="confirm password"><br>
    <br>
     <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{%endfor%}
</body>
</html>